:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow-x: hidden;
  font-size: 10px;
  line-height: 100%;
  font-weight: 300;
}

html,
body,
button,
select,
pre {
  font-family: "Hiragino Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--w1);
  padding: 2rem;
}

body {
  color: var(--b1);
  background: var(--background-start-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --b1: #484848;
  --b2: #828282;
  --b3: #c4c4c4;
  --w1: #ffffff;
  --w11: #fafafa;
  --w2: #f8f8f8;
  --w21: #f4f5f7;
  --w3: #efefef;
  --w4: #e5e5e5;
  --green1: #53b300;
  --green2: #e2edd7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--b1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span,
pre,
label {
  line-height: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
